body, html {
  margin: 0;
  padding: 0;
}

#main {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

#graphHeader {
  display: none;
  padding-bottom: 1%;
}

#graphHeader select {
  display: none;
  min-width: 200px;
  margin-top: 0;
}

#graphHeader h3 {
  display: none;
  margin-bottom: 1%;
}

#relationship {
  border:1px solid black;
  height: 720px;
  margin:0 auto;
  margin-top: 1%;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loading div{
  display: table-cell;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  text-align: center;
  padding-top: 15%;
  width: 60%;
}

#legend {
  display: none;
  background-color: rgba(255,255,255,0.9);
  padding: 1em 0em 1em 2em;
  position: absolute;
  width: 240px;
  z-index: 10;
  right: 6%;
  margin-top: 2%;
}

dt hr{
  border: 0;
  border-bottom: 3px solid;
}

.buddy {
  border-color: #63c54f;
}

.friendly {
  border-color: #63c54f;
  border-style: dashed;
}

.acquaintance {
  border-color: #a4b0a2;
  border-style: dotted;
}

.family {
  border-color: #e0a847;
}

.marriage {
  border-color: #f7ed46;
}

dt {
  width: 28px;
  height: 15px;
  float: left;
  clear: left;
  margin-bottom: 10px;
}

dt, dd
{
   display: inline-block;
   height: 15px;
}

dd {
  margin: 0;
  padding-left: 15px;
  margin-bottom: 10px;
  width: 70%;
}

div.vis-network {
  background-color: #f7f7f7;
}
